<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sonidos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let item of animales">
        <ion-avatar slot="start">
          <img src="{{item.imagen}}">
        </ion-avatar>
        <ion-label> {{item.nombre}} </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>